.linetext{
    display: flex;
    text-align: center;
    width: 100%;
    align-items: center;
}

.linetext_line{
    flex: 1;
    border-bottom: 1px solid #C2C2C2;
}

.linetext_text{
    white-space: nowrap;
    color: #C2C2C2;
    margin: 0 20px;
}